body {
    background: rgb(249, 245, 245);
    /* width: 800px; */
    margin: auto;
}

header {
    font-family: 'Oleo Script', cursive;
    text-align: left;
    margin-left: auto;
    color: rgb(70, 23, 15);
}

header.h1 {
    font-size: 25px;
}

header.h2 {
    font-size: small;
}

main {
    font-family: 'Oleo Script', cursive;
    padding: 10px;
    display: flex;
    
}

section {
    border: black double 10px;
    border-radius: 20px;
    padding: 1em;
    margin: 1em;
}

section h2 {
    color:rgb(200, 52, 26);
}

ul{
    list-style-type: none;
    margin: 2em;
}

ul li{
    margin-top: 10px;
    margin-bottom: 10px;
}

ul li a {
    color: rgb(57, 19, 15);
}
