body {
    background: rgb(19, 4, 4);
    /* width: 800px; */
    margin: auto;
}

header {
    font-family: 'Oleo Script', cursive;
    text-align: left;
    padding: 5rem;
    color: rgb(96, 68, 68);
    /* background: rgb(99, 39, 39); */
}

header.h1 {
    font-size: medium;
}

header.h2 {
    font-size: small;
}

main {
    font-family: 'Oleo Script', cursive;
    padding: 10px;
    display: flex;
    
}

section {
    border: black double 10px;
    background: rgb(96, 68, 68);
    padding: 1em;
    margin: 2em;
}

ul{
    list-style-type: none;
}

/* @media only screen and (min-width: 800px) {
    main { display: flex; flex-wrap: wrap; }
    section { flex: 1; }
    header, footer {width: 100%; flex: 100%; }
} */
